@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html, body {
        @apply flex relative w-full h-full flex-col select-none;
    }

    body {
        @apply text-foreground bg-secondary font-medium select-none;
        font-family: poppins;
        -webkit-font-smoothing: antialiased;
    }

    img {
        @apply block;
        -webkit-user-drag: none;
    }

    input {
        @apply w-full px-2 py-1.5 text-sm font-normal bg-transparent border-0 ring-0 outline-none focus:ring-0;
    }

    input::placeholder {
        @apply text-slate-500 font-normal;
    }

    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        @apply m-0;
        -webkit-appearance: none;
    }

    dialog {
        @apply p-0 text-foreground bg-secondary rounded-2xl border-none select-none;
    }

    dialog::backdrop {
        @apply bg-black/50;
    }

    /* #region Themes */

    html {
        --color-foreground: theme(colors.slate.950);
        --color-background: theme(colors.slate.50);
        --color-secondary: theme(colors.slate.200);
        --color-tertiary: theme(colors.slate.300);
        --color-shade: 0 0 0;
    }

    html[data-theme="dark"] {
        --color-foreground: theme(colors.slate.50);
        --color-background: theme(colors.slate.950);
        --color-secondary: theme(colors.slate.900);
        --color-tertiary: theme(colors.slate.800);
        --color-shade: 255 255 255;
    }

    html[data-theme="blue"] {
        --color-foreground: theme(colors.slate.50);
        --color-background: #0c132a;
        --color-secondary: theme(colors.blue.950);
        --color-tertiary: theme(colors.blue.900);
        --color-shade: 255 255 255;
    }

    /* #endregion */

    /* #region Custom Font */

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-Thin.ttf");
        font-weight: 100;
        font-style: normal;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-ThinItalic.ttf");
        font-weight: 100;
        font-style: italic;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-ExtraLight.ttf");
        font-weight: 200;
        font-style: normal;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-ExtraLightItalic.ttf");
        font-weight: 200;
        font-style: italic;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-Light.ttf");
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-LightItalic.ttf");
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-Regular.ttf");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-Italic.ttf");
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-Medium.ttf");
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-MediumItalic.ttf");
        font-weight: 500;
        font-style: italic;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-SemiBold.ttf");
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-SemiBoldItalic.ttf");
        font-weight: 600;
        font-style: italic;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-Bold.ttf");
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-BoldItalic.ttf");
        font-weight: 700;
        font-style: italic;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-ExtraBold.ttf");
        font-weight: 800;
        font-style: normal;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-ExtraBoldItalic.ttf");
        font-weight: 800;
        font-style: italic;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-Black.ttf");
        font-weight: 900;
        font-style: normal;
    }

    @font-face {
        font-family: poppins;
        src: url("../fonts/Poppins-BlackItalic.ttf");
        font-weight: 900;
        font-style: italic;
    }

    /* #endregion */
}